@model IEnumerable<GummyBearKingdom.Models.Product>

@{
    Layout = "_Layout";
    ViewBag.Title = "GBK - Products";
}

<h1>Our Products</h1>

@Html.ActionLink("Add A New Product", "Create")
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Cost)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelDivision => product.Name)</td>
                <td>@Html.DisplayFor(modelDivision => product.Cost)</td>
                <td>@Html.ActionLink("Details", "Details", new { id = product.ProductId })</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })
                </td>
            </tr>
        }
    </tbody>
</table>
