@model IEnumerable<GummyBearKingdom.Models.Product>

@{
    Layout = "_Layout";
    ViewBag.Title = "GBK - Products";
}

<h1>This is in product index</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Cost)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelDivision => product.Name)</td>
            <td>@Html.DisplayFor(modelDivision => product.Cost)</td>
            <td></td>
            <td></td>
        </tr>
        }
    </tbody>
</table>
